---
import AddRecipeForm from "../../admin/components/AddRecipeForm.astro";
import Sidebar from "../../admin/components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex items-start justify-start gap-20 container-layout">
        <Sidebar />
        <AddRecipeForm />
    </div>
</Layout>
