---
import Sidebar from "../../admin/components/Sidebar.astro";
import Layout from "../layouts/Layout.astro";
import Messages from "../../admin/components/Messages.astro";
---

<Layout>
    <div class="flex items-start justify-start gap-20 container-layout">
        <Sidebar />
        <Messages />
    </div>
</Layout>
