---
import { Image } from 'astro:assets';
const { text, image, imageAlt = '' } = Astro.props;
---

<button class="flex items-center justify-center text-[20px] text-white py-[15px] px-[74px] gap-5 rounded-[7px] bg-black">
  {text}
  {image && <Image src={image} alt={imageAlt} />}
</button>
