---
// import '../assets/subscribe-bg.png'
---

<section class="container-layout image mt-40 h-[442px]">
  <div class=" w-full flex justify-center items-center px-20 h-full flex-col text-center mt-20 mx-0">
    <h1 class="text-center font-semibold text-5xl mb-6">
      Deliciousness to your inbox
    </h1>
    <p class="text-center text-gray-400 text-base mb-16">
      Deliciousness to your inbox" can be translated as "Tasty treats straight
      to your inbox.
    </p>

    <div class="flex-center relative w-[480px]">
      <input
        type="email"
        placeholder="Your email address..."
        class="bg-white w-[480px] h-20 py-8 px-8 rounded-3xl
         placeholder:text-gray-500 focus:outline-none focus: focus:border-gray-500 focus:border"
      />
      <button
        type="submit"
        class="bg-black py-5 px-11 w-40 h-15 rounded-3xl text-white absolute top-[15%] bottom-[15%] right-[10px]"
        >Subscribe</button
      >
    </div>
  </div>
</section>

<style is:global>
  @import "../styles/global.css";
</style>
